!!! 5
html
    head
        title HEADER
        link(href='/css/styles.css',
            media='all',
            rel='stylesheet',
            type='text/css')
        link(href='/css/content.css',
            media='all',
            rel='stylesheet',
            type='text/css')
    body
        include includes/header
        section
            #galeria
                #picture
                #slider
            article
                h1 Especificaciones
                p.
                  Lorem ipsum dolor sit amet, consectetur 
                  adipisicing elit, sed do eiusmod
                  quis nostrud exercitation ullamco laboris nisi 
                  ut aliquip ex ea commodo consequat. Duis aute 
                  irure dolor in reprehenderit in voluptate esse 
                  cillum dolore eu fugiat nulla pariatur.
                ul
                 li lorem ipsum  
                 li lorem ipsum  
                 li lorem ipsum  
                 li lorem ipsum  
                 li lorem ipsum  
                 li lorem ipsum  
